.searchItem{
    padding:10px;
    margin-bottom: 20px;
}
.searchContainer{
    padding:10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.siImg{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.siDesc{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 2;
}

.siTitle{
    font-size: 18px;
    color: #0071c2;
    margin-bottom: -10px;
}
.linkBlue{
    color: #0071c2;
}
.subTitle{
    display: flex;
    gap: 5px;
    font-weight: 400;
    line-height: 18px;
    font-family: BlinkMacSystemFont,
        -apple-system,
        Segoe UI,
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    font-size: 12px;
}
.subTitle svg {
    transform: translateY(-15%);
    vertical-align: middle;
    width: 13px;
}
.siDistance{
    font-size: 12px;
}
.siTaxiOp{
    font-size: 12px;
    background-color: #008009;
    color: #fff;
    width: max-content;
    padding: 3px;
    border-radius: 1px;
}
.siSubtitle{
    font-size: 12px;
    font-weight: bold; 
}
.siFeatures{
    font-size: 12px;
}
.siGroup{
    border: 1px solid #949494;
    max-width: fit-content;
    padding: 5px;
    font-size: 11px;
    justify-content: center;
    border-radius: 2px;
    background-color: #fff;
    color: #262626;

}
.siCancelOp{
    font-size: 12px;
    font-weight: bold;
    color: #008009;
}
.siCancelSubtitle{
    font-size: 12px;
    color: #008009;
}
.siCancellationSubtitle{
    font-size: 12px;
    font-weight: bold;
    color: #008009;
}

.siDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.siRating{
    display: flex;
    justify-content: space-evenly;
}
.siRating>span{
    font-weight: 500;
    
}
.siRating>button{
    background-color: #003580;
    color: #fff;
    padding: 5px;
    font-weight: bold;
    border: none;
    
}

.siDetailsText{
    text-align: right;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.siPrice{
    font-size: 18px;
    font-weight: 500;
}
.siSearchRequestOutpUt{
    font-size: 12px;
    color: gray;
}
.siPrice>svg{
    width: 15px;
}
.siTaxOp{
    font-size: 12px;
    color: gray;
}
.siCheckButton{
    background-color: #0071c2;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}